/* ====================== [ Start Pricing ] ====================== */
.pricing .item {
  text-align: center;
  padding: 50px 0;
  background: #121212;
}

/* ====================== [ End Pricing ] ====================== */
