/* ====================== [ Start progress bar ] ====================== */
.skills-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-circle .item {
  margin-right: 60px;
}

.skills-circle .skill {
  position: relative;
}

.skills-circle .skill span {
  height: 110px;
  width: 110px;
  line-height: 110px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 20px;
  font-weight: 300;
}

.skills-circle .skill h6 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 20px;
}

/* ====================== [ End progress bar ] ====================== */
