

/* ====================== [ Start services ] ====================== */

.cls-services{

    .item{
        position: relative;

        .letr-bg{
            font-size: 200px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-20%);
            z-index: -1;
            opacity: .03;
        }

        .numb{
            margin-bottom: 15px;
        }

        h6{
            margin-bottom: 15px;
        }
    }
}

.services{

    .swiper-slide{
        padding: 0 15px;
    }
    
    .item{
        background: #121a21;
        border-radius: 20px;
        height: 100%;
        padding: 50px;

        .icon{
            font-size: 40px;
            margin-bottom: 30px;
        }

        h6{
            margin-bottom: 15px;
        }

        a{
            font-size: 12px;
            opacity: .8;
            margin-top: 50px;
        }
    }
}

.ui-services{
    background-color: rgba(255,255,255,.01);
    
    .item{
        position: relative;

        .letr-bg{
            color: $main-color;
            font-size: 200px;
            font-weight: 800;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-20%);
            z-index: -1;
            opacity: .02;
        }

        .icon{
            font-size: 40px;
            margin-bottom: 25px;
        }

        h6{
            margin-bottom: 15px;
        }
    }
}

.min-area {

	.img{
		padding: 120px 0 120px 80px;
		position: relative;
		z-index: 3;

		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 120px;
			bottom: 0;
			left: -300px;
			background: #1a1e25;
			z-index: -1;
		}
	}

	.content{
		padding-left: 40px;

		h4{
			font-weight: 700;
			font-size: 40px;
			line-height: 1.5;
			margin-bottom: 20px;
		}

		ul{
			margin: 0;

			li{
				margin-top: 25px;
				padding-left: 25px;
				position: relative;

				&:after{
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid #999;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 2px;
				}
			}

			&.feat{

				li{
					padding: 0 0 30px 0;
					border-bottom: 1px solid rgba(255,255,255,.05);

					&:last-of-type{
						padding: 0;
						border: 0;
					}

					&:after{
						display: none;
					}

					h6{
						font-weight: 500;
						margin-bottom: 5px;
						
						span{
							color: $main-color;
							width: 30px;
							height: 30px;
							line-height: 30px;
							text-align: center;
							font-size: 13px;
							border: 1px solid $main-color;
							border-radius: 50%;
							margin-right: 10px;
						}
					}

					p{
						font-size: 13px;
						padding-left: 45px;
					}
				}
			}
		}
	}
}

/* ====================== [ End services ] ====================== */