
/* ====================== [ Start Intro ] ====================== */

.intro{

    .sm-title{
        font-size: 12px;
        margin-bottom: 10px;
    }

    h4{
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 50px;
    }

    .feat{

        .item{

            .img{
                width: 100%;
                height: 250px;
                margin-bottom: 20px;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            h5{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

.ui-intro{

    .sm-title{
        color: #ccc;
        font-size: 12px;
        margin-bottom: 10px;
    }

    h4{
        font-weight: 800;
        font-size: 35px;
        margin-bottom: 10px;
    }

    p{
        margin-top: 10px;
    }

    .img{
        width: 140%;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            top: -120px;
            bottom: -120px;
            left: -100px;
            width: 400px;
            background-color: rgba(255,255,255,.03);
            z-index: -1;
        }

        img{
            width: 100%;
            border-radius: 15px;
        }
    }

    &.vers{

        .img{
            margin-left: -40%;
    
            &:after{
                right: -100px;
                left: auto;
            }
        }
    }
}

/* ====================== [ End Intro ] ====================== */