
/* ====================== [ Start Pricing ] ====================== */

.pricing{

    .item{
        text-align: center;
        padding: 50px 0;
        
        &.active{
            background: #0f0f0f;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,.05);
                z-index: -1;
            }

            .order{

                a{
                    background: linear-gradient(20deg, #2ed47c 0, #e8bf47 100%);
                }
            }
        }

        .title{

            h5{
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 25px;
            }
        }

        .amount{

            h2{
                font-weight: 600;
                line-height: 1;

                span{
                    font-size: 20px;
                }
            }

            h6{
                margin-top: 10px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 300;
            }
        }

        .cont{
            padding: 30px;
            border-top: 1px solid rgba(255,255,255,.05);
            border-bottom: 1px solid rgba(255,255,255,.05);
            margin: 40px 0;

            ul{
                margin: 0;

                li{
                    margin: 25px 0;
                }
            }
        }

        .order{

            a{
                padding: 15px 40px;
                background: #fff;
                color: #000;
                border-radius: 30px;
            }
        }
    }
}

/* ====================== [ End Pricing ] ====================== */