

/* ====================== [ Start Heading ] ====================== */

.main-header{
    position: relative;
    margin-bottom: 80px;

    h6{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;
    }

    h3{
        font-weight: 700;
        font-size: 48px;
    }
}

/* ====================== [ End Heading ] ====================== */