

/* ====================== [ Start Slider ] ====================== */

.ui-slider{
    height: 100vh;

    &.ui-main{

        &.fixed-slider {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    
        .swiper-slide-active {
            z-index: 3;
        }
    
        .parallax-slider {
            position: relative;

            &:after{
                content: "";
                position: absolute;
                background: linear-gradient(to top, #fff, rgba(255,255,255,.1));
                width: 140px;
                height: 140vh;
                top: -20%;
                right: 20%;
                z-index: 2;
                transform: rotate(20deg);
                opacity: .2;
            }

            &:before{
                content: "";
                position: absolute;
                background: linear-gradient(to bottom, #fff, rgba(255,255,255,.1));
                width: 140px;
                height: 140vh;
                top: -20%;
                right: 5%;
                z-index: 2;
                transform: rotate(20deg);
                opacity: .2;
            }
    
            .swiper-slide {
                position: relative;
                overflow: hidden;
                width: 100%;
                min-height: 100vh;
                padding-bottom: 50px;
    
                .bg-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-size: cover;
                }
            }
    
            .swiper-slide-active {
    
                .caption {
    
                    h1 {
                        transition: all 0s;
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
    
                        .char {
                            animation: fadeInUp .5s cubic-bezier(.3, 0, .7, 1) both;
                            animation-delay: calc(60ms * var(--char-index));
                        }
                    }
    
                    .thin,
                    .btn-curve,
                    p{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
    
            .caption {
    
                .thin {
                    color: $main-color;
                    font-size: 30px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 8px;
                    margin-bottom: 5px;
                    opacity: 0;
                    transform: translateY(-20px);
                    transition: all .4s;
                    transition-delay: .8s;
    
                    span{
                        color: $main-color;
                    }
                }
    
                h1 {
                    font-size: 65px;
                    font-weight: 700;
                    letter-spacing: 4px;
                    color: #fff;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .5s,
                                visibility .5s;
                }
    
                p{
                    color: #eee;
                    margin-top: 15px;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: all .4s;
                    transition-delay: .8s;
                }
    
                .btn-curve{
                    opacity: 0;
                    transform: translateY(20px);
                    transition: all .4s;
                    transition-delay: 1s;
                    border: 2px solid;
                    line-height: 2;
    
                    span{
                        font-size: 15px;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
    
                    &:hover{
    
                        span{
                            color: #0c0f16;
                        }
                    }
                }
    
                &.dig{
    
                    h1{
                        font-weight: 800;
                        font-size: 80px;
                        text-transform: uppercase;
                        
                        .tline{
                            margin-left: 80px;
                        }
    
                        .whitespace{
                            width: 20px;
                        }
                    }
                }
            }
        }
    
        .setone{
            position: absolute;
            bottom: 8%;
            right: 40px;
            z-index: 8;
    
            .swiper-nav-ctrl{
                color: #ccc;
                font-size: 13px;
                width: 55px;
                height: 55px;
                line-height: 55px;
                text-align: center;
                margin: 5px 0;
                border: 1px solid rgba(255,255,255, .3);
                position: static;
    
                &:after{
                    display: none;
                }
            }
    
            &.setwo{
                position: static;
    
                .swiper-nav-ctrl{
                    border-radius: 50%;
                }
    
                .next-ctrl{
                    position: absolute;
                    top: 50%;
                    right: 30px;
                }
    
                .prev-ctrl{
                    position: absolute;
                    top: 50%;
                    left: 30px;
                }
            }
        }
    
        .txt-botm{
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            z-index: 8;
    
            .swiper-nav-ctrl{
                position: absolute;
                width: auto;
                height: auto;
                margin-top: auto;
                top: auto;
                bottom: 0;
                
                i{
                    color: #ccc;
                    font-size: 13px;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    margin: 0;
                    border-radius: 50%;
                    display: inline-block;
                    transition: all .3s;
                }
    
                span{
                    font-weight: 500;
                    font-size: 12px;
                    color: #fff;
                }
    
                &:after{
                    display: none;
                }
    
                &.swiper-button-next{
                    right: 40px;
    
                    i{
                        margin-left: 10px;
                    }
                }
    
                &.swiper-button-prev{
                    left: 40px;
    
                    i{
                        margin-right: 10px;
                    }
                }
    
                &:hover{
    
                    i{
                        border: 1px solid rgba(255,255,255, .3);
                    }
                }
            }
        }
    
        .swiper-pagination-fraction.top {
            position: absolute;
            right: 15%;
            left: auto;
            bottom: auto;
            top: 20%;
            width: auto;
            color: #fff;
            font-size: 40px;
            font-weight: 500;
        
            .swiper-pagination-current {
                font-size: 60px;
                font-weight: 700;
                position: relative;
                color: transparent;
                -webkit-text-stroke: .5px #fff;
        
                &:after {
                    content: '/';
                    color: #fff;
                    position: relative;
                    margin: 0 10px;
                    font-size: 12px;
                    font-weight: 100;
                }
            }
    
            &.botm{
                top: auto;
                bottom: 40px;
                right: 40px;
            }
        }
    
        .swiper-pagination-fraction{
    
            &.steps{
                position: absolute;
                width: 100px;
                color: #fff;
                font-size: 15px;
                bottom: 40px;
                left: calc(50% - 50px);
                right: auto;
                top: auto;
                text-align: left;
    
                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 15%;
                    width: 70%;
                    height: 1px;
                    background: rgba(255,255,255, .3);
                }
    
                .swiper-pagination-total{
                    float: right;
                }
            }
        }
    
        .social-icon{
            position: absolute;
            left: 40px;
            bottom: 40px;
            z-index: 8;
    
            a{
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid rgba(255,255,255, .05);
                color: #fff;
                font-size: 13px;
            }
        }
    }

    &.in-box{
        width: calc(100% - 60px);
        height: calc(100vh - 80px);
        margin-left: 30px;
        margin-top: 80px;

        .caption{

            h1{
                font-size: 60px;
            }

            p{
                font-size: 22px;
                line-height: 1.7;
                color: #d8d5d5;
            }

            .vid{
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 80px;
                margin: 30px 0 0 0;
                display: inline-block;
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    right: -10px;
                    bottom: -10px;
                    background: #fff;
                    border-radius: 50%;
                    opacity: .1;
                }
                
                span{
                    font-size: 20px;
                    color: #333;
                }
            }
        }
    }
}

.ui-half{

    .half-sec{
        padding: 0;
        height: 100vh;
    }

    .cont{
        padding: 0 120px;

        h1{
            font-size: 52px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    .img{
        height: 100%;
    }
}

.ui-header{
    height: 100vh;
    position: relative;

    .cont{

        .text{
            background-image: url(../agency-3/img/01.jpg);
            background-repeat: repeat;
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-font-smoothing: antialiased;
            font-size: 30vw;
            font-weight: 700;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            z-index: -1;
            opacity: .8;
        }
    }
}

.page-header{

	.cont{
		padding: 220px 0 120px;

		h4{
			line-height: 1.6;

			.stroke{
				font-weight: 900;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgba(255,255,255,.7);
				color: transparent;
			}
		}
	}

	.img-wrapper{
		position: relative;
		min-height: 70vh;

		.title{
			position: absolute;
			top: 0;
			right: 0px;
			width: 100%;
			text-align: right;
			transform: translateY(-55%);
			z-index: 3;

			h3{
				font-size: 100px;
				font-weight: 900;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #fff;
				color: transparent;
			}
		}

		.map{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&.proj-det{

		.img-wrapper{
			min-height: 80vh;
		}
	}

	&.blg{

		.cont{
			padding: 220px 0;

			h2{
				line-height: 1.6;
				margin-bottom: 10px;
			}

			.info{

				a{
					margin: 0 10px;
					font-size: 13px;
					font-family: 'Roboto Mono', monospace;
					color: #aaa;
				}
			}
		}
	}
}

.works-header{
	min-height: 80vh;

	&.hfixd{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	.capt{
		
		h4{
			font-weight: 200;
			font-size: 24px;
			line-height: 1.8;
		}

		h2{
			font-size: 60px;
			letter-spacing: 2px;
			text-transform: uppercase;

			span{
				display: block;
				font-size: 20px;
				font-weight: 300;
				text-transform: capitalize;
				color: $main-color;
			}
		}

		.bactxt{
			font-size: 30vw;
			font-weight: bold;
			color: transparent;
    		-webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
			z-index: -1;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			text-align: center;
		}
	}
}

.main-content{
	background: #0a131a;
	position: relative;
	z-index: 3;
}

/* ====================== [ End Slider ] ====================== */