@media screen and (max-width: 767px) {
  .promo-carousel .item-wrap .promo-carousel .item-wrap {
    width: 200%;
  }
  .ssm-mb115 {
    margin-bottom: 300px;
  }
  .ssm-mt10 {
    margin-top: 10px;
  }
  .ssm-mb85 {
    margin-bottom: 40px;
  }
  .ssm-mb-25 {
    margin-bottom: -25px;
  }
  .ssm-mt20 {
    margin-top: 20px;
  }
  .ssm-mt30 {
    margin-top: 30px;
  }
  .ssm-mb0 {
    margin-bottom: 0px;
  }
  .testimonials .quote-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .testimonials .quote-icon img {
    width: 25px;
    margin: auto;
  }

  .testimonials .controls .float-right {
    /* float: left; */
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .navs {
    display: flex;
    gap: 20px;
  }
  .cursor-outer {
    display: none;
  }

  .mouse-cursor {
    display: none;
  }

  .caption {
    padding-top: 250px !important;
  }

  .caption h1 {
    font-size: 35px !important;
  }

  .ui-block .gr-text {
    font-size: 35px !important;
  }

  .shadows {
    width: 450px;
  }

  .footer-neuro {
    margin-top: 100px;
    text-align: center;
  }

  .team-crs .item .info {
    text-align: left;
    padding-left: 123px;
    background: none;
  }

  .call-action {
  }
  .project-title-container {
    padding-top: 150px;
  }

  .page-header .img-wrapper {
    min-height: 300px !important;
  }

  .page-header .cont {
    padding-top: 150px;
  }

  .team-crs .item .info .social {
    padding-left: 125px !important;
  }

  .team-img-holder {
    height: 375px;
    overflow: hidden;
  }

  .swiper-nav-ctrl i,
  .cursor-pointer i {
    position: relative;
    top: 3px;
  }

  .testi-section {
    padding-top: 40px !important;
  }

  .contact-page-info {
    display: none;
  }
}

.contact-form {
  padding-bottom: 50px;
}

.custom-img {
  object-fit: contain;
  max-height: 100%;
}

@media screen and (max-width: 991px) {
  .testi-section {
    padding-top: 40px !important;
  }
}

@media screen and (min-width: 767px) {
  .caption {
    margin: auto;
    width: 80%;
  }
}
