.square-container {
  position: relative;
  padding-bottom: 100%; /* 1:1 aspect ratio for equal width and height */
}

.square-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .promo-carousel .item-wrap .promo-carousel .item-wrap {
    width: 200%;
  }
  .ssm-mb250 {
    margin-bottom: 250px;
  }
  .ssm-mt10 {
    margin-top: 10px;
  }
  .ssm-mb85 {
    margin-bottom: 40px;
  }
  .ssm-mb-25 {
    margin-bottom: -25px;
  }
  .ssm-mt20 {
    margin-top: 20px;
  }
  .ssm-mt30 {
    margin-top: 30px;
  }
  .ssm-mb0 {
    margin-bottom: 0px;
  }
  .testimonials .quote-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .testimonials .quote-icon img {
    width: 25px;
    margin: auto;
  }

  .visit-proj-link {
    top: -50px !important;
  }

  .testimonials .controls .float-right {
    /* float: left; */
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .navs {
    display: flex;
    gap: 20px;
  }
  .cursor-outer {
    display: none;
  }

  .mouse-cursor {
    display: none;
  }

  .caption {
    padding-top: 250px !important;
  }

  .caption h1 {
    font-size: 35px !important;
  }

  .ui-block .gr-text {
    font-size: 35px !important;
  }

  .shadows {
    width: 450px;
  }

  .footer-neuro {
    margin-top: 100px;
    text-align: center;
  }

  /* .team-crs .item .info {
    text-align: center;
    padding-left: 123px;
    background: none;
  } */
  .team-crs .item .info {
    padding: 15px;
    margin-right: 4px;
    margin-left: 40px;
    background: #11141b;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .square-container {
    position: relative;
    padding-bottom: 100%; /* 1:1 aspect ratio for equal width and height */
  }

  .square-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .call-action {
  }
  .project-title-container {
    padding-top: 720px !important;
  }

  .page-header .img-wrapper {
    min-height: 300px !important;
  }

  .page-header .cont {
    padding-top: 270px;
  }

  .team-crs .item .info .social {
    padding-left: 125px !important;
  }

  .team-img-holder {
    height: 375px;
    overflow: hidden;
  }

  .swiper-nav-ctrl i,
  .cursor-pointer i {
    position: relative;
    top: 3px;
  }

  .testi-section {
    padding-top: 40px !important;
  }

  .contact-page-info {
    display: none;
  }

  .portfolio {
    padding-top: 0px;
  }
}

.contact-form {
  padding-bottom: 50px;
}

.custom-img {
  object-fit: contain;
  max-height: 100%;
}

@media screen and (max-width: 991px) {
  .testi-section {
    padding-top: 40px !important;
  }

  .page-header .img-wrapper .title h3 {
    font-size: 50px;
  }

  [data-overlay-dark] .container2 {
    padding-top: 680px;
  }

  .page-header .img-wrapper {
    min-height: 45vh;
  }
}

@media screen and (min-width: 767px) {
  .caption {
    margin: auto;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .project-title-container {
    padding-top: 700px !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .visit-proj-link {
    top: -50px;
  }
}

.visit-proj-link {
  margin-top: 30px;
}

@media screen and (min-width: 800px) {
  .work-intro-section {
    padding-top: 0px;
  }
}
