

$body-color: #000000;
$pcolor: #6d6d6d;
$sub-bg: #121212;
$main-color: #75dab4;
$dark-shadow: 0px 10px 40px -4px rgba(0,0,0,.1); 
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$desk-lg-screen: 1200px;
